@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,500;9..144,703&family=Montserrat:wght@100;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* container */
.container {
  background-color: hsl(30, 38%, 92%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: hsl(0, 0%, 100%);
  width: 600px;
  height: 430px;
  border-radius: 10px;
  display: flex;
}
.image {
  width: 50%;
  background-image: url("../images/image-product-desktop.jpg");
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container-text {
  width: 50%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
span {
  display: block;
  font-family: "Montserrat", sans-serif;
  align-items: top;
  color: gray;
  font-size: 0.8em;
  margin-inline-start: 0%;
  margin-inline-end: 0%;
}
h1 {
  font-family: "Fraunces", serif;
}
.text-descri {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: gray;
  font-size: 14px;
  row-gap: 10px;
}
.price {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.price h2 {
  color: hsl(158, 36%, 37%);
  font-size: 40px;
}
.price p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: gray;
  font-size: 14px;
  text-decoration: line-through;
}
button {
  display: flex;
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}
.card-img {
  padding: 4px;
}
button:hover {
  transition-delay: 0.1;
  background-color: hsl(157, 37%, 15%);
}

@media (max-width: 750px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 55%;
    min-width: auto;
  }
  .image {
    width: 100%;
    height: 350px;
    background-image: url("../images/image-product-mobile.jpg");
    background-size: cover;
  }
  .container-text {
    width: 100%;
    row-gap: 1px;
    padding: 10px;
  }
  .price {
    gap: 20px;
  }
  .text-descri {
    font-size: 13px;
  }
  .perfum {
    padding: 2px;
    font-size: 12px;
  }
  .button {
    padding-bottom: 10px;
  }
  button {
    width: 80%;
    justify-content: center;
    margin-left: 55px;
  }
}
